{% extends 'public/base.html' %} {% block content %} {% load static%}
<section class="section lb">
  <div class="container bg-success">
    <div class="row">
      <div class="col-lg-15 col-md-12 col-sm-12 col-xs-12">
        <div class="sidebar bg-success">
          <div class="widget-no-style">
            <div class="newsletter-widget text-center align-self-center">
              <h3>THANK YOU</h3>
              <h1>
                You Have been Successfully Submitted the Form
                <br />
                we will Reach You Soon
              </h1>
            </div>
            <!-- end newsletter -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
